body{
    background-color: rgb(102, 97, 97);
}
h1{
    color: darkblue;
    background-color: skyblue;
    font-size: xx-large;
    text-align: center;
    border: blue 5px solid; 
    margin: 20px;
} 
main img{  
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 10px;  
}
  
p{
    background-color: rgb(8, 66, 8);
    color: greenyellow;
    text-align: center;
    border: lightseagreen 5px solid; 
    margin: 20px;
    padding: 10px;
}

nav li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    color: darkblue;
    font-size: x-large;
}

nav{
    background-color: black;
    padding: 20px;
}
body, li {
    margin: 0px;
}
ul{
    background-color: rgb(8, 66, 8);
    color: greenyellow;
    border: lightseagreen 5px; 
    border-style: outset;
    margin: 20px;
    padding: 30px;
}
table, td, tr  {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
    margin-bottom: 50px;
}
a{
    color:rgb(105, 105, 105);
    font-size: x-large;
    text-decoration: none;
} 
a:hover {
    background-color: white;
    padding: 19px;
}
footer{
    width: 100%;
}
footer section div{
        background-color: black;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
}
footer img{
    height: 275px;
    width: 33.1%;
}
fieldset{
    border : solid;
    margin: 10px;
    padding: 15px;

}

