body{
    background-color: rgb(102, 97, 97);
}

h1{
    color: darkblue;
    background-color: skyblue;
    text-align: center;
    border: blue 5px solid; 
    margin: 20px;
} 
h1, h2, h3 {
    font-family: 'Yeon Sung', cursive;
    font-size: 48px;
    text-shadow: 0px 1px 0px #aaa;
}
p {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 1px 1px 1px #aaa;
    color: rgb(87, 18, 18);
}

ul li {
    font-family: 'Asul', sans-serif;
    font-size: 28px;
    color: black;
}

main img{  
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 10px;  
}
  
p{
    background-color: rgb(81, 102, 6);
    text-align: center;
    border: lightseagreen 5px solid; 
    margin: 20px;
    padding: 10px;
}

nav li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    color: darkblue;
    font-size: x-large;
}

nav{
    background-color: black;
    padding: 20px;
}
body, li {
    margin: 0px;
}
ul{
    background-color:  rgb(5, 41, 5);
    color: greenyellow;
    border: lightseagreen 5px; 
    border-style: outset;
    margin: 20px;
    padding: 30px;
    margin-bottom: 100px;
}
table, td, tr  {
    background-color: blueviolet;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
} 
nav a:hover {
    color:rgb(105, 105, 105);
    font-size: x-large;
    background-color: white;
    padding: 19px;
}
footer{
    width: 100%;
}
footer section div{
        background-color: black;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
}
footer img{
    height: 275px;
    width: 33.1%;
}
fieldset{
    background-color: crimson;
    border : solid;
    margin: 10px;
    padding: 15px;
}
legend{
    background-color: rgb(172, 82, 82);
    border: black;
    border-style: solid;
    padding: 3px;
}

